on: [push, pull_request]

name: CI

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.60
        with:
          components: clippy
      - name: cargo clippy
        run: cargo clippy -p svgbobdoc --all-features

  test:
    name: Test
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.60
      - name: Test
        run: cargo test -p svgbobdoc
      - name: Test with feature `enable`
        run: cargo test -p svgbobdoc --features enable
