on: [push, pull_request]

name: CI

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install clippy
        run: rustup component add clippy
      - name: cargo clippy
        run: cargo clippy -p svgbobdoc --all-features

  test:
    name: Test
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: cargo test
        run: cargo test -p svgbobdoc
      - name: cargo test with `enable`
        run: cargo test -p svgbobdoc --features enable
